@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.box {
  height: 50rem;
  width: 40rem;
  background: linear-gradient(135deg, #603b7a, #530b86); 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3rem;
  box-shadow: 0 0 30px rgba(138, 43, 226, 0.85); 
}

.upper {
  flex-grow: 1;
  padding: 2rem 3rem;
}

.upper h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem; 
}

.range_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.checkboxes {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.form_control {
  display: flex;
  justify-content: space-between;
}

.form_control label {
  font-size: 1.4rem;
  letter-spacing: 0.3px;
}

#customName,
#password {
  width: 100%;
  border-radius: 2rem;
  height: 4rem;
  background-color: #460e74; 
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  color: #ffffff; 
  font-weight: 800;
  letter-spacing: 1px;
  border: 2px solid #bebebe; 
  outline: none;
  padding: 0 1rem;
  text-align: center;
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}


#customName:focus {
  border: 2px solid #b39ddb; 
  background-color: #481268; 
}

#customName::placeholder {
  color: #d8bfd8;
  opacity: 0.7;
}

#customName:-webkit-autofill,
#customName:-webkit-autofill:hover,
#customName:-webkit-autofill:focus,
#customName:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--primary-x-light) inset;
  box-shadow: 0 0 0 1000px var(--primary-x-light) inset;
  color: #460e74;
  border: 2px solid #b39ddb;
  transition: background-color 5000s ease-in-out 0s;
}

/* For all Range Slider */

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;

  height: 0.5rem;
  padding: 0;
  outline: none;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: #7e57c2;
  border: 1px solid #5e35b1;
}

input[type="checkbox"] {
  accent-color: #7e57c2;
}

.input-group {
  display: flex;
  flex-direction: column; 
  gap: 1.0rem; 
}

.form_control label{
  
}

.input-group label,
.range_container label,
.form_control label {
  color: #ffffff;
  font-weight: 600;
}

#genBtn {
  background: #460e74;
  color: #ffffff;
  border: none;
  border-radius: 2rem;
  font-size: 1.8rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  width: 90%; 
  margin: 0 auto 3rem; 
  padding: 10px 20px;
  display: block; 
  position: relative; 
  border: 2px solid #bebebe; 
}

#genBtn:hover {
  background: #5b1297;
  color: #ffffff;
  transition: 0.3s ease-in-out;
  cursor: hand;
}

@media (max-width: 425px) {
  .box {
    width: 100%;
    height: 100vh;
  }
}